
.alluser-view-page {
    padding: 20px;
   
    
}
.alluser-view{
    width: 50vw;
    margin-inline: auto;
    border: 1px solid gray;
}
.alluser-view-heading{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 15px;
    color: #fff;
    background-color: #213832;
}

.alluser-view-heading-text{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.alluser-view-details-data-head{
    color: black;
    padding:10px 15px;
    border-bottom: 1px solid gray;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.alluser-view-details-container{

    color: black;
    padding: 0px 20px;
}
.alluser-view-details-data{
    padding-block: 5px;
    
}
.alluser-view-details-data-query{
    color: black;
}

.alluser-view-form{
    background-color: #fff;
    padding-bottom: 40px;
}


.edit-form-input{
    border: none;
    outline: none;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
    width: 20vw;
}

.alluser-view-edit-btn{
    background: none;
    color: white;
    background-color: #025242;
    border-radius: 0;
}